.imagenChica{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.imagenGrande {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.sombra {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contenedor {
    background-color: rgb(240, 240, 240);
    min-height: 80vh;
}
.formulario input:out-of-range {
    border: 1px solid red;
}

.formulario input:valid {
    border: 1px solid green;
}


/* Extra small <576px
 Small ≥576px
 Medium ≥768px
 Large ≥992px
 Extra large ≥1200px */
.tituloImagen {
    font-size: 1rem;
}
@media only screen and (max-width: 3000px) {
    .tituloImagen {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 1800px) {
    .tituloImagen {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 1400px) {
    .tituloImagen {
        font-size: 0.8rem;
    }
    .precio {
        font-size: 0.7rem;
    }
    .detalle {
        font-size: 0.6rem;
    }
    .card{
        padding: 0;
    }
}
@media only screen and (max-width: 1200px) {
    .tituloImagen {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 992px) {
    .tituloImagen {
        font-size: 0.9rem;
    }
    .precio {
        font-size: 0.8rem;
    }
    .detalle {
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 768px) {
    .tituloImagen {
        font-size: 1.1rem;
    }
    .precio {
        font-size: 1rem;
    }
    .detalle {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 400px) {
    .tituloImagen {
        font-size: 0.8rem;
    }

    .precio {
        font-size: 0.8rem;
    }

    .detalle {
        font-size: 0.8rem;
    }
}
.pagination ul{
    flex-wrap: wrap;
}

/* Estrellas para visualizar el rating */
:root {
    --star-size: 1.3rem;
    --star-color: rgb(240, 240, 240);
    --star-background: #fc0;
}
.stars {
    --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; 
    line-height: 1;

}
.stars::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) 0 var(--percent), var(--star-color) var(--percent) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.votos{
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
}

/* Estrellas para realizar el rating */

.hide {
    display: none;
}
.star{
    color: gray;
}
.rating {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    font-size: 2.3rem;
}
.rating>label {
    display: inline-block;
    position: relative;
    width: 2rem;
    cursor: pointer;
}
.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
    content: "\2605";
    color:#fc0;
    position: absolute;
    left: 0;
    top: 0;
}
